@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #000;
}

@import url('https://fonts.cdnfonts.com/css/miama');

#miama-font {
    font-family: 'Miama', sans-serif;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

.shape {
    font-size: 10rem;
}

/* shared styles */
.btn-primary {
    background-color: #E6533C;
    padding: 12px 20px;
    border-radius: 42px;
    border: none;
    color: #FFFFFF;
    font-size: 1.1rem;
}

.btn-secondary {
    background-color: transparent;
    padding: 12px 20px;
    border-radius: 42px;
    border: none;
    font-size: 1.1rem;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
}

.grey-text {
    color: rgba(255, 255, 255, 0.5);
}

.dark-bg {
    background-color: black;
}

/* nav related styles */
.gradiant-bg {
    background: linear-gradient(#3d3d3c, #000000);
}

.nav-container {
    max-width: 1060px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav-menu {
    display: flex;
}

.brand-name {
    color: #E6533C;
    font-style: italic;
    font-size: 2rem;
    font-weight: 800;
    margin-top: 60px;
}

.nav-menu {
    border-right: 190px;
    margin-top: 55px;
}

.nav-menu li {
    list-style-type: none;
    margin-right: 20px;
    border-radius: 18px;
    padding: 16px 20px;
}

.nav-menu li:first-child {
    background-color: #E6533C;
    padding: 12px 20px;
    border-radius: 46px;
}

.nav-menu a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.1rem;
}

.size-6 {
    height: 30px;
    width: 30px;
    color: #FFFFFF;
    margin-top: 52px;
    display: none;
}

/* banner section start */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 190px;
    max-width: 1060px;
    margin: 0 auto;
}

.banner-text {
    max-width: 520px;
    max-height: 440px;
}

.banner-text p {
    margin-bottom: 20px;
}

.banner-img img {
    width: 100%;
    margin-bottom: -4px;
}

.banner-heading {
    color: #FFFFFF;
    font-size: 4rem;
    line-height: 80px;
}

.btn-video {
    background: rgba(48, 48, 48, 0.54);
    color: #FFFFFF;
    width: 150px;
    height: 50px;
    padding: 10px 8px;
    position: absolute;
    top: 80%;
    right: 30%;
    border-radius: 5px;
    display: flex;
}
.round img {
    width: 50%;
    height: 50%;
    padding-bottom: 5px;
}
/* .triangle {
    position: relative;
    right: 10px;
    bottom: 10px;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid white;
} */
.btn-video p {
    color: rgba(255, 255, 255, 0.65)
}

.btn-free {
    background: rgba(255, 255, 255, 0.1);
    color: #FFFFFF;
    width: 160px;
    border-radius: 8px;
    height: 60px;
    padding: 10px 8px;
    position: absolute;
    top: 40%;
    right: 8%;
    padding-left: 10px;
}

.btn-free h2 {
    font-size: 1.8rem;
    flex-direction: column;
    font-weight: 900;
}

.btn-free p {
    color: rgba(255, 255, 255, 0.65)
}

.round {
    background-color: rgb(230, 83, 60);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-content {
    margin-left: 10px;
    margin-top: 8px;
}

/* habit related styles */
.habit {
    max-width: 1044px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.habit-card-container {
    display: flex;
    /* grid-template-columns: repeat(4, 1fr); */
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.habit-content {
    max-width: 660px;
    margin: 0 auto;
    text-align: center;
}

.habit-content h2 {
    color: #FFFFFF;
    font-size: 3.2rem;
    font-weight: 900;
    padding-top: 20px;
    text-align: center;
}

.habit-content p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 15px;
}

.habit-card img {
    border-radius: 50%;
    margin-left: 40px;
    margin-top: 10px;
}

.habit-card p {
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

.habit-card h4 {
    color: #FFFFFF;
    margin: 0;
    text-align: center;
}

/* run section related styles */
.run {
    max-width: 1060px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    background: rgb(34, 34, 34);
    border-radius: 18px;
    justify-content: space-between;
    padding: 20px;
}

.run-content {
    color: #FFFFFF;
    max-width: 400px;
    padding-left: 30px;
}

.run-content h1 {
    font-size: 3rem;
    font-weight: 900;
}

.run-content p {
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 30px;
}

.run-img img {
    border-radius: 18px;
    Object-fit: none;
    object-position: 66% 30%;
    width: 360px;
    height: 312px;
}

/* bmi section related styles */
.bmi {
    max-width: 670px;
    padding-top: 10px;
    margin: 0 auto;
    padding-bottom: 90px;
    padding-top: 90px;
}

.bmi h1 {
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 900;
    padding-bottom: 15px;
}

.bmi p {
    color: rgba(255, 255, 255, 0.5);

}

.bmi-container {
    display: flex;
    max-width: 1060px;
    margin: 0 auto;
    background-color: rgb(34, 34, 34);
    color: #FFFFFF;
    padding: 20px 180px;
    justify-content: center;
    align-items: center;
}

.bmi-calculate-chart {
    background-color: rgb(34, 34, 34);
    color: #FFFFFF;
    width: 50%;
}

.bmi-table h3 {
    color: #FFFFFF;
    font-size: 1.8rem;
    padding-bottom: 50px;
    padding-top: 50px;
}

.bmi-table tr,
td,
th {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 5px;
    color: rgba(255, 255, 255, 0.5)
}

.bmi-table th {
    padding-left: 0;
}

.bmi-calculate {
    margin-top: 50px;
}

.bmi-calculate p {
    color: rgba(255, 255, 255, 0.5);
    padding-bottom: 15px;
}

.bmi-calculate h1 {
    color: #FFFFFF;
    font-size: 1.8rem;
    padding-bottom: 40px;
    margin-top: -10px;
}

.bmi-input [type="text"] {
    width: 98%;
    height: 50px;
    border: none;
    background-color: rgba(48, 48, 48, 0.54);
    margin-bottom: 10px;
    padding: 0px 5px;
}
option{
    background-color: rgba(48, 48, 48, 0.54);
    color:#FFFFFF;
}
.bmi-input #select,
#sex {
    width: 100%;
    height: 50px;
    padding: 0px 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
}

.bmi-input #factor {
    width: 100%;
    height: 50px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
}

#calculate-btn {
    width: 220px;
    margin-top: 10px;
}

/* Team related styles */
.team h1 {
    color: #FFFFFF;
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    margin-top: 80px;
}

.team p {
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding-bottom: 10px;
}

.team {
    max-width: 1440px;
    margin: 0 auto;
}

.team-img-container {
    max-width: 1060px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.1);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 15px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    gap: 10px;
}
.team-img-container img {
    width: 340px;
    height: 270px;
    border-radius: 15px;
}
/* Offer discount related styels */
.offer-container{
    max-width: 1044px;
    margin: 0 auto;
    background-color: rgb(34, 34, 34);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 15px;
}
.offer-message {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    font-size: 1.2rem;
}
.offer-message img {
    width: 100%;
    height: 100%;
    position: relative;
    top: 35px;
}

.discount {
    font-weight: 900;
    color: #E6533C;
    font-size: 4rem;
}

.coupon-sticker {
    background-color: #E6533C;
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 20px;
    position: relative;
    left: -108px;
}

.forms {
    display: flex;
    justify-content: center;
    gap: 50px;
}


.forms h2 {
    margin-bottom: 15px;
}

.forms form {
    display: flex;
    flex-direction: column;
}

.forms label {
    margin: 10px 0 5px;
}

.forms input {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #666;
}

.forms button {
    padding: 10px;
    background-color: #E6533C;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
}

.forms button:hover {
    background-color: #E6533C;
}


/* Footer related styles */
footer {
    max-width: 1440px;
    margin: 0 auto;
    background: rgb(34, 34, 34);
}

.footer-container {
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

.footer-left {
    width: 440px;
    margin-right: 100px;
}

.footer-left p {
    padding-bottom: 10px;
    color: rgba(255, 255, 255, 0.5);
}

.footer-center {
    width: 300px;
    margin-top: 60px;
}

.footer-center h1 {
    color: #FFFFFF;
    margin-bottom: 10px;
}

.footer-center li {
    color: rgba(255, 255, 255, 0.5);
    list-style-type: none;
    margin-bottom: 10px;
    font-size: 1.3rem;
}

.footer-right {
    width: 300px;
    margin-top: 60px;
}

.footer-right h1 {
    color: #FFFFFF;
    margin-bottom: 10px;
}

.footer-right li {
    color: rgba(255, 255, 255, 0.5);
    list-style-type: none;
    margin-bottom: 10px;
    font-size: 1.3rem;
}

.horizontal-line {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.footer-copy {
    width: 1040px;
}

.footer-copy p {
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding-bottom: 15px;
}
.offer-message p {
    font-weight: 600;
    letter-spacing: initial;
}

/* Responsive related styles */

@media screen and (max-width: 576px) {
    .banner {
        flex-direction: column;
    }

    .brand-name {
        margin-left: 10px;
        font-size: 2rem;
    }

    .habit-card-container {
        flex-wrap: wrap;
    }

    .habit-card img {
        margin-left: 100px;
    }

    .size-6 {
        display: block;
        margin-right: 10px;
    }

    .banner-text {
        margin-bottom: 120px;
        padding: 10px;
    }

    .banner-img {
        position: relative;
    }
    .nav-menu {
        display: none;
    }

    .btn-video {
        top: 45%;
        right: 50%;
    }

    .btn-free {
        top: 10%;
        right: -5%;
    }

    .run {
        flex-direction: column;
    }

    .run-img img {
        width: 100%;
    }

    #run-btn {
        width: 90%;
        height: auto;
        margin-bottom: 10px;
    }

    .bmi {
        padding: 20px;
    }

    .bmi-calculate-chart {
        flex-direction: column;
    }

    .bmi-calculate h1 {
        color: #FFFFFF;
        font-size: 1rem;
        padding-bottom: 40px;
        margin-top: -10px;
        padding-left: 5px;
    }

    .bmi-table h3 {
        text-align: center;
        font-size: 1rem;
        margin: 0;
    }
    .bmi-calculate p{
        padding-left: 5px;
    }

    .bmi-container {
        flex-direction: column;
        padding: 0;
    }

    .bmi-input {
        width: 100%;
        padding-left: 5px;
    }

    .run-img img {
        width: 100%;
        /* height: 100%; */
    }

    .bmi h1 {
        font-size: 1rem;
    }

    .bmi-input [type="text"] {
        width: 96%;
    }

    .team-img-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .team-img-container img {
        width: 90%;
        height: auto;
        margin: 0 auto;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
    }

    .footer-center {
        width: 100%;
    }

    .footer-left {
        width: 100%;
    }

    .footer-right {
        width: 100%;
    }
    .horizontal-line{
        width: 95%;
    }
    .footer-copy{
        width: 90%;
        margin: 0 auto;
    }
    .offer-container{
        flex-direction: column;
    }
    .offer-message img {
        width: 350px;
        height: auto;
        position: relative;
        right: 70px;
        top: 90px;
    }
    .forms {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #calculate-btn {
        width: 98%;
        margin: 0 auto;
    }
    .discount {
        width: 100%;
    }
    .offer-message{
        width: 100%;
    }
    .bmi-input #select, #sex{
        width: 98%;
    }
}